* {
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

a {
    text-decoration: none;
}

form {
    width: 500px;
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
    border: 2px solid black;
}

form label {
    width: 100%;
    font-weight: bold;
    display: inline-block;
}

select,
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"] {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin: 8px 0;
}

form input[type="submit"], 
form input[type="reset"] {
    padding: 1rem;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 1rem;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover, 
form input[type="reset"]:hover {
    cursor: pointer;
}

form input, select {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    max-height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    display: block;
}