* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

article {
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
}

span {
    display: block;
}

/*status*/
.alive {
    margin: 10px auto;
    background-color: green;
    width: 90%;
    height: 0.5rem;
}

.dead {
    margin: 10px auto;
    background-color: red;
    width: 90%;
    height: 0.5rem;
}

.unknown {
    margin: 10px auto;
    background-color: gray;
    width: 90%;
    height: 0.5rem;
}